<!DOCTYPE html>
<html>
    <head>
        <title>magic Party</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link
        href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar__logo">
                <a href="/ingredientes" class="navbar-brand" href="http://localhost:3000/">Magic Party</a>
            </span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/ingredientes" class="nav-link" href="http://localhost:3000/">Ingredientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
            </ul>
        </nav>
        <div class="container mt-4">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form method="get" action="/editar/<%= id %>">
                            <div class="mb-3">
                                <label for="Ingrediente" class="form-label">Ingrediente:</label>
                                <input type="text" class="form-control" id="Ingrediente" name="Ingrediente" value="<%= ingrediente.getNombre %>">
                            </div>
                            <div class="mb-3">
                                <label for="Costo" class="form-label">Costo:</label>
                                <input type="text" class="form-control" id="Costo" name="Costo" value="<%= ingrediente.getCosto%>">
                            </div>
                            <div class="mb-3">
                                <label for="Unidad" class="form-label">Unidad:</label>
                                <select name="Unidad" id="Unidad">
                                    <option class="text-opacity-50"> <%= ingrediente.getUnidad %></option>
                                    <% unidades.forEach(unidad =>{
                                        if(unidad != ingrediente.getUnidad){
                                        %>
                                        <option class="text-opacity-50"> <%= unidad %></option>
                                        <%}});%>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Cantidad" class="form-label">Cantidad:</label>
                                <input type="text" class="form-control" id="Cantidad" name="Cantidad" value="<%= ingrediente.getCantidad%>">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="ri-check-line"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
